Repository healthyhomeuk/healthyhome, pull requests merged in 2021-04, with the labels that each got.

#51 Update Readme
  README.md
  docs/images/youtube.svg
Labels: documentation

#58 mgmt/bme680: Add accuracy parameters
  management-server/src/sensors/bme680/co2e.ts
  management-server/src/sensors/bme680/iaq.ts
Labels: component: management server, priority: very high

#60 monit/sn-gcja5: Fix syntax error
  monitoring-server/libs/sn-gcja5/src/PMSensor.cpp
Labels: component: monitoring server, priority: very high

#61 monit/bme680: Fix doxygen
  monitoring-server/libs/bme680/include/bme680/AdapterPacket.h
  monitoring-server/libs/bme680/include/bme680/BSECSensor.h
  monitoring-server/libs/bme680/include/bme680/BSECSensorMessage.h
  monitoring-server/libs/bme680/include/bme680/CO2eMessage.h
  monitoring-server/libs/bme680/include/bme680/HumidityMessage.h
  monitoring-server/libs/bme680/include/bme680/IAQMessage.h
  monitoring-server/libs/bme680/include/bme680/TemperatureMessage.h
Labels: component: monitoring server, documentation, priority: very high

#64 monit/healthyhome-rpi: Make sockets env vars
  monitoring-server/platforms/healthyhome-rpi/monitd.service
  monitoring-server/platforms/healthyhome-rpi/src/main.cpp
Labels: component: monitoring server, priority: very high

#69 Update README.md
  README.md
  docs/images/world-wide-web.svg
Labels: documentation, priority: very high
